dify_workflows/谣言终结者：基于多源异构对抗博弈的多模态事实核查系统 (12).yml
app:
  description: '针对互联网网络谣言、AI 深度伪造新闻（Deepfake）泛滥，导致老年人及青少年群体极易上当受骗的社会痛点，本项目开发了一套具备高度社会公益价值的事实核查闭环工作流。


    项目旨在解决实际问题，弘扬科学精神。系统赋予 AI “多维感知能力”与“闭环控制权”，通过语音转文字（STT）和视觉大模型，无缝接收长辈在微信群等社交媒体上遭遇的模糊截图或语音求助。系统内部通过“权威白名单取证”与“文本逻辑挑刺”两个多智能体在暗中对抗博弈，确保辟谣证据链铁证如山。项目最大的亮点在于打通了适老化的“最后一公里”——利用大模型将晦涩的科学原理和严肃报告进行“极端文本降维”，一键分发为“结论前置、大字报排版、亲切接地气”的一页纸科普海报，方便子女快速转发至家庭微信群，让前沿大模型技术真正转化为守护千家万户清朗网络空间的人文力量。'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 谣言终结者：基于多源异构对抗博弈的多模态事实核查系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.8.5@1d87ec973e00f07093a3d3e894906f61545430554c4c98ae9b76ecb53414a488
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1781669507825-source-1781670269995-target
      selected: false
      source: '1781669507825'
      sourceHandle: source
      target: '1781670269995'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17816909091293-source-17816909091294-target
      selected: false
      source: '17816909091293'
      sourceHandle: source
      target: '17816909091294'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1781670269995-source-17816909091290-target
      selected: false
      source: '1781670269995'
      sourceHandle: source
      target: '17816909091290'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17816909091290-source-1781698571265-target
      selected: false
      source: '17816909091290'
      sourceHandle: source
      target: '1781698571265'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781698571265-true-17816909091293-target
      selected: false
      source: '1781698571265'
      sourceHandle: 'true'
      target: '17816909091293'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781698571265-false-1781699076388-target
      selected: false
      source: '1781698571265'
      sourceHandle: 'false'
      target: '1781699076388'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1781699076388-source-1781699415980-target
      selected: false
      source: '1781699076388'
      sourceHandle: source
      target: '1781699415980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17816909091294-source-1781701563503-target
      selected: false
      source: '17816909091294'
      sourceHandle: source
      target: '1781701563503'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781701563503-true-1781701716342-target
      selected: false
      source: '1781701563503'
      sourceHandle: 'true'
      target: '1781701716342'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17816909091294-source-1782043382385-target
      selected: false
      source: '17816909091294'
      sourceHandle: source
      target: '1782043382385'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782043382385-source-1782043802186-target
      selected: false
      source: '1782043382385'
      sourceHandle: source
      target: '1782043802186'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781701563503-d4fa81c2-2099-4d2a-8d35-82905d3920a7-1782133163897-target
      selected: false
      source: '1781701563503'
      sourceHandle: d4fa81c2-2099-4d2a-8d35-82905d3920a7
      target: '1782133163897'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781701563503-false-1782133172551-target
      selected: false
      source: '1781701563503'
      sourceHandle: 'false'
      target: '1782133172551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1781701716342-source-1782276231694-target
      selected: false
      source: '1781701716342'
      sourceHandle: source
      target: '1782276231694'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1782133163897-source-1782276231694-target
      selected: false
      source: '1782133163897'
      sourceHandle: source
      target: '1782276231694'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1782133172551-source-1782276231694-target
      selected: false
      source: '1782133172551'
      sourceHandle: source
      target: '1782276231694'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1782298620572-true-1782465366127-target
      selected: false
      source: '1782298620572'
      sourceHandle: 'true'
      target: '1782465366127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782465366127-source-1782304332929-target
      selected: false
      source: '1782465366127'
      sourceHandle: source
      target: '1782304332929'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1782298620572-true-1782470849360-target
      selected: false
      source: '1782298620572'
      sourceHandle: 'true'
      target: '1782470849360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782470849360-source-1782471159842-target
      selected: false
      source: '1782470849360'
      sourceHandle: source
      target: '1782471159842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: agent
      id: 1781670269995-source-1782552945527-target
      selected: false
      source: '1781670269995'
      sourceHandle: source
      target: '1782552945527'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: if-else
      id: 1782552945527-source-1781698571265-target
      selected: false
      source: '1782552945527'
      sourceHandle: source
      target: '1781698571265'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: agent
      id: 1782276231694-source-1782555770708-target
      source: '1782276231694'
      sourceHandle: source
      target: '1782555770708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: if-else
      id: 1782555770708-source-1782298620572-target
      selected: false
      source: '1782555770708'
      sourceHandle: source
      target: '1782298620572'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1782555770708-source-1782032604218-target
      selected: false
      source: '1782555770708'
      sourceHandle: source
      target: '1782032604218'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 收到用户求助 Help Request
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_text
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: user_text
        - allowed_file_extensions: []
          allowed_file_types:
          - video
          - audio
          - document
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: upload_files
          max_length: 5
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: upload_files
        - default: 'false'
          hint: ''
          label: isElderlyMode
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: isElderlyMode
      height: 161
      id: '1781669507825'
      position:
        x: 79.31950791077293
        y: 282
      positionAbsolute:
        x: 79.31950791077293
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781669507825'
          - user_text
        desc: ''
        model:
          completion_params:
            media_resolution: High
            temperature: 0.7
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: 8c4c7775-6270-4e5f-a515-cac517cc5427
          role: system
          text: "# Role\n你是一个专职于多模态数据清洗、特征提取与媒介合规检查的数据预处理专家。\n\n# Task\n你的唯一任务是对用户输入的所有素材（纯文本或多模态文件）进行结构化信息提取。你只需客观陈述你“看到了什么”和“提取到了什么”，**严禁进行辟谣、严禁下达真伪结论、严禁主观推导**。\n\
            \n⚠️【媒介合规红线：没收到文件就填“无”】\n你必须严格基于用户**实际提交的文件**进行处理。若用户仅在文字中提及“视频/图片”但实际未上传该多模态文件，该媒介对应的提取项一律填写“无”，**绝对禁止凭空捏造不存在的文件内容**。\n\
            \n1. 【文本/视觉OCR特征提取】：\n   - 提取纯文字、图片截图或视频字幕中的所有客观文本。\n2. 【音频特征物理清点】（仅在有音频文件时执行）：\n\
            \   - 完整转译语音文本。清点声音特征（如：音色断层、机械感、无声调起伏、无呼吸声等物理表现）。\n3. 【画面特征物理清点】（仅在有图片/视频文件时执行）：\n\
            \   - 描述画面核心构图、主体人物、异常噪点。清点视觉特征（如：手部线条扭曲、背景文字解体、特定面部边缘像素闪烁、眨眼频次或帧率突变等物理表现）。清点视觉特征时，必须严格区分‘低画质/强压缩导致的模糊噪点’与‘AI生成的结构性畸变’。若无法确定是否为人工合成留下的物理痕迹，一律仅描述基础画质（如：视频分辨率较低、有压制噪点），严禁使用带有人工合成暗示的词汇（如‘闪烁’、‘解体’）。\n\
            \n# Output Format\n请严格按下述结构输出提取到的物理特征，严禁包含任何总结性废话或辟谣长篇大论：\n\n【提取核心正文】：(整合实际输入的纯文字、语音转译、图片OCR或视频字幕中的全部文本，无则填“无”)\n\
            【提及核心主体】：(文本或素材中明确出现的涉事人物、品牌、机构或国家，无则填“无”)\n【文本风格与高频词特征】：(客观列举素材中具有明显情绪导向、号召性、或重复率极高的特定词汇或短语，如“赶紧…”、“震惊”、“第一视角的语气词”等，无则填“无”)\n\
            【多模态物理特征检测报告】：\n  - 实际包含的音频文件：(若无音频文件，直接填“无”；若有，仅客观列举其音色、呼吸声、机械感等物理特征)\n\
            \  - 实际包含的图像/视频文件：(若无图像或视频文件，直接填“无”；若有，仅客观列举其像素闪烁、线条扭曲、磨皮度、帧率等画面物理特征)\n\
            \n以下是用户输入文本：{{#1781669507825.user_text#}}\n以下是用户输入文件：{{#1781669507825.upload_files#}}"
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output_enabled: false
        title: 特征提取 Content Sensing
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1781669507825'
            - upload_files
          enabled: true
      height: 88
      id: '1781670269995'
      position:
        x: 346
        y: 280
      positionAbsolute:
        x: 346
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781670269995'
          - text
        desc: 逻辑判断 单变量
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            grounding: true
            service_tier: priority
            thinking_level: High
            url_context: false
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3b475a50-4e74-4ffe-aa3e-210dd3e17700
          role: system
          text: '你是一个极其冷酷、严苛的首席逻辑审查官（反方辩友）。请对以下用户输入的文本内容进行深度的“逻辑死磕”与“文本解构”：

            {{#1781670269995.text#}}


            【审查核心任务】

            不借助任何外部检索，纯粹从形式逻辑、语言学和修辞学，科学的角度，把这段文本中用于洗脑和误导的套路揪出来。请重点扫描并提炼以下 4 类致命硬伤：


            1. 【逻辑谬误与断层】：是否存在“因果倒置”、“偷换概念”、“以偏概全”、“诉诸权威/无名权威”？

            2. 【情绪煽动与心理暗示】：是否高频使用焦虑恐吓词汇（如：癌症元凶、赶紧全家删、再不看就迟了）、惊叹号或强迫转发、强迫赞同的传销式洗脑话术？

            3. 【常识性逻辑硬伤】：文本内部前后陈述是否矛盾？提出的所谓解决方案是否严重违背日常生活基本物理、化学或生物常识？

            4. 【核心信息缺失】：文本是否隐瞒了关键的边界条件、剂量因素（如：不谈剂量谈毒性）或具体的数据来源？


            【输出格式约束】

            请以极具条理、客观辛辣的语言，分条列出你的审查报告。不要有任何多余的问候和总结性废话，直接输出挑刺结果（如果没有明显错误，请勿强行编造）：

            - 🔍 逻辑漏洞/修辞圈套 1：[详细描述漏洞位置与为什么不合理]

            - 🔍 逻辑漏洞/修辞圈套 2：[详细描述漏洞位置与为什么不合理]

            - 🔍 逻辑漏洞/修辞圈套 3：[详细描述漏洞位置与为什么不合理]


            如果用户输入的是一个极其冷门、只有两三个字的无意义组合（例如：“火星人吃了苹果”） 非事实类论断或无意义内容，则直接输出空'
        selected: false
        structured_output_enabled: false
        title: 逻辑漏洞检查 Logic Judgment
        type: llm
        vision:
          enabled: false
      height: 116
      id: '17816909091290'
      position:
        x: 624
        y: 116.79872787246632
      positionAbsolute:
        x: 624
        y: 116.79872787246632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 正反方内容比对 三变量
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            grounding: true
            thinking_level: Medium
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: c38f660e-8baf-4461-843e-1f5bb1a268e8
          role: system
          text: "# Role\n你是一个专业的事实核查比对专家，同时担任终审法院的【首席预审官】。你的核心任务是将【涉案可疑文本】与【网络搜索证据】及【逻辑硬伤报告】进行精确的全方位交叉比对，抽丝剥茧地找出它们之间的核心冲突点。\n\
            \n\U0001F4A1【预审独立审计原则（防污染死命令）】：\n在比对过程中，你必须保持绝对的学术与事实独立性。请注意：【网络搜索证据】在全领域（科学、社会、政策、医疗等）都可能包含过时的早期报道、被反转的旧新闻、已被废止的法规、或已被澄清的时代乌龙。\n\
            你作为预审官的第一原则是：当【网络搜索证据】与现代各学科公认常识、最终官方定论或历史铁证相违背时，**严禁盲信搜索证据**！你必须调用内置全域知识库，启动“时间线后视镜”，核实该证据在后期是否有“反转、澄清、修正或撤回”。如果存在，必须以最终定论作为“真相锚点”，并在比对矩阵中明确揭露搜索证据自身的时效局限性。\n\
            \n【当前卷宗数据】\n1. 涉案可疑文本（传言）：\n{{#1781670269995.text#}}\n\n2. 网络搜索事实证据（官方/科学界/媒体）：\n\
            {{#1782552945527.text#}}\n\n3. 文本逻辑内部硬伤（反方报告）：\n{{#17816909091290.text#}}\n\
            \n【你的比对核心任务】\n请条理清晰地输出以下三层“对齐矩阵”，为最高裁判所提供精细的预审报告：\n\n1. ⚖️ 【事实与说法差异对齐】：\n\
            \   - **原传言说辞**：原传言的核心断言是什么？\n   - **最终事实真相**：结合最新的行业公认常识与最终官方澄清，真实的定论是什么？（若输入证据存在过时乌龙、已被废止、或后期反转，请在此明确点破并纠正）。\n\
            \   - **核心矛盾定性**：二者的核心冲突在哪里？属于凭空捏造、局部夸大，还是偷换了已被推翻的过时证据？\n\n2. ⚖️ 【关键要素与边界核对】：\n\
            \   - **要素比对**：原传言中提及的时间、地点、数据、主体、适用范围，与权威最终数据是否吻合？\n   - **边界审查**：传言是否存在隐瞒/篡改关键边界条件的行为？（例如：在医疗上抹去剂量、在法律上抹去适用前提、在科学上抹去特定物理极限、在社会新闻中抹去后续澄清）。\n\
            \n3. ⚖️ 【逻辑圈套与过时证据链评估】：\n   - 结合反方报告，深度评估这段传言是如何将一部分“过时的旧闻、早期未澄清的误判、或片面的局部事实”，通过断章取义包装成“现代权威结论/普遍规律”来误导公众的。\n\
            \n【输出格式约束】\n请以客观、严谨的结构化语言直接输出比对矩阵，严禁任何寒暄：\n⚖️ 【比对矩阵 1：核心说法冲突】\n- 原文说辞：...\n\
            - 最终真相（含对过时/污染证据的修正）：...\n- 差异定性：...\n\n⚖️ 【比对矩阵 2：要素与边界核对】\n- [逐条写出数据、时间、地点或适用边界的冲突或吻合情况，必须明确指出不符合公认常识或已被历史修正的要素]\n\
            \n⚖️ 【比对矩阵 3：圈套评估】\n- [深度剖析其误导手法及证据链的保质期问题]"
        selected: false
        structured_output_enabled: false
        title: 多源内容比对 Cross-Verification
        type: llm
        vision:
          enabled: false
      height: 116
      id: '17816909091293'
      position:
        x: 1221.0121779162428
        y: 112.79872787246632
      positionAbsolute:
        x: 1221.0121779162428
        y: 112.79872787246632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 审计裁判 四变量
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            grounding: true
            thinking_level: High
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 687ca678-cebf-47ba-8d90-aff674d131e9
          role: system
          text: "# Role \n你现在是《谣言终结者》最高终审法院的【首席大法官】。你的核心职责是保持绝对的中立与法理理性，综合研判正反双轨博弈卷宗，做出不偏不倚的黑白灰三色裁决。\n\
            \n# ⚖️ 判决前置红线（双向校准命令）：\n1. 【校准反方偏见（防无脑证伪）】：上游【反方逻辑狙击手】抓出的修辞瑕疵、带有感叹号、叙事不全面等，属于自媒体天然风格，【绝对不等于】恶意篡改。严禁被反方的挑刺牵着鼻子走。\n\
            2. 【校准正方盲信（防过时乌龙）】：上游【正方全网资源证据链】提供的证据可能存在“时代局限性”（如早期的不实报道、已被推翻的初步结论、已被撤回的论文、或已被澄清的执法误判）。**你拥有最高终审权，绝不能盲信已失效的所谓“官方/媒体证据”**。\n\
            \n【当前卷宗数据】\n1. 【涉案原始传言文本】（用户输入的待查核心）\n{{#1781670269995.text#}}\n2. 【正方：全网资源证据链】（官方、科学界、媒体等正面或早期支撑材料）\n\
            {{#1782552945527.text#}}\n3. 【反方：文本逻辑漏洞狙击报告】（修辞圈套、常识谬误抓取）\n{{#17816909091290.text#}}\n\
            4. 【中立预审：双轨差异交叉比对矩阵】（核心说法与数据冲突对齐）\n{{#17816909091293.text#}}\n\n# \U0001F6E0\
            ️ 大裁判官核心裁决算法（通用闭环研判）\n请遵循以下推演步序：\n- 步骤一：【时效与最终定性审查】。调用你内置的通用全域常识库，复核正方提供的证据是否为“最终定论”。审查该事件在后期是否存在“反转、澄清、修正案、或科学界的最终共识”。\n\
            - 步骤二：【事实实质性判定】。剥离文本的修辞外壳，直奔核心事实。对比原始传言与最权威、最新的事实真相是否存在根本性的“本质篡改”或“客观事实颠倒”。\n\
            - 步骤三：【恶意与边界审查】。审查传言是否通过隐瞒关键边界条件（如时间、地点、适用范围、剂量、特定前提），将一个“局部/特定事实”恶意放大为“普遍/恐慌性结论”。\n\
            \n# \U0001F6E0️ 黑白灰三色判定算法（通用红线）\n\n1. \U0001F7E2 【判定为：证实】的通用红线：\n - 核心标准：传言的【核心断言/实质性事实】与行业公认常识、或官方最新的最终定论高度吻合。\n\
            \ - 豁免红线：哪怕传言存在“论证不严密、数据有微小偏差、带有情绪修辞或夸张感叹”等叙事瑕疵，只要核心事实不伪，且未造成恶劣误导，一律宽容判定为“证实”。\n\
            \n2. ❌ 【判定为：伪造】的通用红线（触发以下任一条件即铁证判伪）：\n - 【客观事实颠倒】：核心事实纯属凭空捏造，或黑白完全颠倒。\n\
            \ - 【依赖过时乌龙】：传言所依据的“正方证据”在历史上属于**已被后期澄清、推翻或证实为误判的旧新闻/旧论断**（例如：早期技术误判、已被撤回的通报、已被证伪的科学旧闻）。\n\
            \ - 【恶意边界篡改】：通过故意隐瞒、割裂关键的边界条件（如抹去时间、抹去局部限制、抹去科学前提），使结论走向了事实反面，足以误导公众或引发恐慌。\n\
            \ - 【违背底层常识】：严重违背人类基础科学规律、基础法律常识或公认历史铁证。\n\n3. \U0001F7E1 【判定为：存疑】的通用红线：\n\
            \ - 核心标准：纯属主观观点表达、未发生的未来预测、商业宣传话术、或处于科学/学术界前沿争论期且尚无定论的议题。\n - 判定红线：对于缺乏跨行业权威证据链支撑、真伪状态在客观上“不可知”的偶发事件，严禁强行判伪或判真，一律定性为“存疑”。\n\
            \n# \U0001F512 输出格式控制红线 \n第一行【绝对只能】包含以下三个标签之一：证实 / 伪造 / 存疑。从第二行开始输出你的详细裁决理由。\n\
            格式规范模板：\n伪造\n裁决理由：[简明扼要指出传言的核心硬伤。若其引用了正方证据，需点明该证据属于已被历史澄清的早期乌龙或抹去了关键边界条件。字数控制在150字以内，保持冷静、克制、客观。]"
        selected: false
        title: 定性裁决 Final Judge
        type: llm
        vision:
          enabled: false
      height: 116
      id: '17816909091294'
      position:
        x: 1477.3929779162427
        y: 112.79872787246632
      positionAbsolute:
        x: 1477.3929779162427
        y: 112.79872787246632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 5701f1b2-7705-4ad7-9c3c-5d0309a6a12a
            value: ''
            varType: string
            variable_selector:
            - '1782552945527'
            - text
          - comparison_operator: not empty
            id: 9b4f4810-912b-403a-915b-5d69db297aac
            value: ''
            varType: string
            variable_selector:
            - '17816909091290'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 材料充分性校验 Material Sufficiency Verification
        type: if-else
      height: 150
      id: '1781698571265'
      position:
        x: 929.0990565172394
        y: 112.79872787246632
      positionAbsolute:
        x: 929.0990565172394
        y: 112.79872787246632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781669507825'
          - user_text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 173c69fd-2040-4d12-89c8-a38decdda0e3
          role: system
          text: '# Role

            你现在是《谣言终结者》多模态事实核查系统的【信息匮乏安全阻断网关】。你的职责是评估上游节点的数据捕获状态，对由于输入要素过少、缺乏实体核心的请求进行拦截。


            # Task

            当前请求已触发【数据匮乏红线】：用户输入过于简短或属于无具体实体的假设。请向用户输出一段精炼、清晰、具备科技温度的引导声明。


            # Output Control Redlines (输出红线)

            1. **严禁废话**：严禁出现“好的”、“收到”或任何前置标点。

            2. **极度精简**：总字数严格控制在 250 字以内。去掉一切诸如“如同在无标靶的公海航行”、“算法分析的最低安全阈值”等臃肿修饰词。

            3. **结构要求**：必须严格包含【阻断状态声明】、【技术原因】和【行动建议】。


            # 🎯 请严格按照以下脱水精简格式输出（严禁自行扩写,可以针对用户输入进行优化）：


            ⚠️ 系统提示：数据要素不足，无法构建核查闭环

            ***

            由于您当前提交的信息过于简短、语义未闭环，或缺乏具体的核心实体（如明确的时间、地点、人物或涉事机构），系统暂时无法为您构建正反方博弈的证据链。


            #### 🔬 拦截原因

            * **关键实体缺失**：缺乏具体检索标靶，无法在权威数据库中进行交叉溯源。

            * **论证链条断裂**：碎片化或假设性陈述缺乏因果关系，无法进行逻辑漏洞拆解。

            * **缺乏多模态介质**：未检测到可用于 Deepfake 防伪、声纹特征比对的视音频原件。


            #### 💡 行动建议

            1. 📸 **多模态补充**：上传相关的群聊截图、网络原贴截图或原声语音/视频。

            2. 📝 **补齐核心要素**：在文字中尝试补充“涉及哪个具体品牌/机构/人物”或“在哪看到的”。

            3. 🔗 **粘贴原始链接**：直接复制并粘贴您在社交平台看到的疑似谣言网页 URL 链接。


            清朗网络空间，感谢您的参与！'
        selected: false
        title: 异常输出（材料不足） Exception Output (Insufficient Data)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781699076388'
      position:
        x: 1221.0121779162428
        y: 267.7987278724663
      positionAbsolute:
        x: 1221.0121779162428
        y: 267.7987278724663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781699076388'
          - text
          value_type: string
          variable: text
        selected: false
        title: Insufficiency Out
        type: end
      height: 88
      id: '1781699415980'
      position:
        x: 1477.3929779162427
        y: 267.7987278724663
      positionAbsolute:
        x: 1477.3929779162427
        y: 267.7987278724663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: b1508593-24ce-428e-808e-a6f9246dafae
            value: 伪造
            varType: string
            variable_selector:
            - '17816909091294'
            - text
          id: 'true'
          logical_operator: and
        - case_id: d4fa81c2-2099-4d2a-8d35-82905d3920a7
          conditions:
          - comparison_operator: contains
            id: b864db17-1d95-4908-965b-6dbf093c2cba
            value: 证实
            varType: string
            variable_selector:
            - '17816909091294'
            - text
          id: d4fa81c2-2099-4d2a-8d35-82905d3920a7
          logical_operator: and
        selected: false
        title: 裁决结果分流 Verdict Routing
        type: if-else
      height: 172
      id: '1781701563503'
      position:
        x: 1759.4162552188427
        y: 112.79872787246632
      positionAbsolute:
        x: 1759.4162552188427
        y: 112.79872787246632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17816909091294'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 23841bf1-65b5-48c5-830d-0f44e9cec332
          role: system
          text: "你是一个国家级事实核查机构的首席总编。请根据以下权威事实论据和文本逻辑硬伤报告，撰写一篇正式的事实核查（辟谣）报告：\n【最终判断】\n\
            {{#17816909091294.text#}}\n\n【网络事实证据】\n{{#1782552945527.text#}}\n\n【文本逻辑硬伤】\n\
            {{#17816909091290.text#}}\n\n【撰写规范与红线标准】\n1. 【语调】：必须保持绝对冷静、客观、克制和科学，严禁使用任何主观情绪化的攻击性词汇。\n\
            2. 【结构】：报告必须包含以下三部分：\n   - \U0001F4CC 结论先行：一句话明确指出该传言是凭空捏造还是断章取义。\n  \
            \ - \U0001F50D 真相解密：列出权威机构发布的真实数据与科学原理。\n   - ⚠️ 漏洞拆解：指出该传言利用了何种逻辑圈套和恐吓心理。\n\
            3. 【溯源引用】：在提及任何权威结论时，必须在括号内注明出处，URL和发布日期（如果证据链中有）。\n\n请直接输出报告正文，不要有任何多余的开头和自我介绍。"
        selected: false
        title: 辟谣报告生成 Rumour Report Generator
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781701716342'
      position:
        x: 2060.759304124066
        y: 32.529218857643855
      positionAbsolute:
        x: 2060.759304124066
        y: 32.529218857643855
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782555770708'
          - text
          value_type: string
          variable: text
        selected: false
        title: Report Out
        type: end
      height: 88
      id: '1782032604218'
      position:
        x: 3034.208339185664
        y: 50.380526683082564
      positionAbsolute:
        x: 3034.208339185664
        y: 50.380526683082564
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: a658765a-92d9-4b46-bcec-46034b8d360c
          role: system
          text: "\n你是一个精通多模态取证数据分析与 Mermaid 拓扑图可视化的顶级高级专家。请根据本次多模态谣言核查的真实推理过程，动态生成一段最能体现事件性质（证实/证伪/存疑）的\
            \ Mermaid（graph TD）思维导图源码。\n# \U0001F512 Mermaid 代码规范（技术死命令，任何语法错误将导致前端渲染失败）\n\
            1. **纯净输出**：你输出的文本【必须绝对只能包含】由 ```mermaid 和 \n``` 包裹的代码块。**严禁在前言、后语中包含任何诸如“这是为您生成的代码”等废话！**\n\
            2. **防符号崩盘**：Mermaid 节点文本中【绝对严禁】出现任何英文半角括号 `()`、方括号 `[]` 或双引号 `\" \"`，如果必须使用标点，请全部替换为中文全角符号（如（）、“”），否则编译必报错！\n\
            3. **颜色样式注入**：必须在代码底部使用 `style` 语法为关键节点上色（谣言红、官媒绿、审判蓝），增强视觉冲击力。\n\n\n\
            【⚠️ 核心变量输入区域（Agent 运行时读取）】\n# Input Context\n请仔细阅读由最高裁判官和博弈层交付的最终审判数据：\n\
            事件关键词\n{{#1781670269995.text#}}\n事实比对\n{{#17816909091293.text#}}\n逻辑硬伤\n\
            {{#17816909091290.text#}}\n最终裁定\n{{#17816909091294.text#}}\n\n\n请严格遵循以下高阶图表编排与多样性规范进行渲染：\n\
            \n1. 【节点形状的多样性设计（体现内容性质）】\n   严禁全盘使用标准的方框节点。请根据节点的内容属性，精准使用以下 Mermaid\
            \ 样式：\n   - 核心裁定/起点：使用圆角矩形 `ID(文本)` 或 体育场形 `ID([文本])`\n   - 技术底层铁证（如 C2PA\
            \ 凭证、rPPG 脉搏波）：使用正方形 `ID[文本]`\n   - 关键冲突点/审查交叉口：使用菱形 `ID{文本}`\n   - 外部权威网页/证据出处：使用非对称矩形\
            \ `ID>文本]` \n   - 缺失或未证实的线索：使用圆角矩形，并在末尾追加虚线样式\n\n2. 【根据事件性质（[核查事件裁定]）动态切换图表拓扑】\n\
            \   - 若为【证实】：采用“流向汇聚结构”。利用 `subgraph 原始线索` 和 `subgraph 交叉验证` 将多模态论据分类，最后通过加粗实线\
            \ `==>` 汇聚合流指向最终的圆形/体育场形结论节点，体现证据链的闭环。\n   - 若为【伪造】：采用“分栏对比/错位结构”。在左侧建立\
            \ `subgraph 网传伪造链`，在右侧建立 `subgraph 真实溯源链`。在这两个子图之间，使用带文本的红色虚线 `-. 篡改/错位点\
            \ .->` 进行横向拉线对比（例如：网传音频 -. 语音克隆5阶断层 .-> 真实原声），极其直观地暴露出伪造手段。\n   - 若为【存疑】：采用“发散/多叉悬决结构”。核心焦点居中，向四周散射出多个互不相通的虚线分支\
            \ `-.->`。未查明的分支节点需使用虚线框，指向带有问号的悬空终点，体现证据链的断裂与不确定性。\n\n3. 【编排美观与细节规范（沙漠极简风）】\n\
            \   - 节点文本精细化：节点内文本必须包含详细内容。长文本请使用 `<br{{#context#}} \n   - 连线多样性：\n \
            \    * 普通逻辑推进：使用常规实线 `-->`\n     * 强因果/决定性铁证：使用加粗实线 `==>`\n     * 矛盾/质疑/未证实关联：使用虚线\
            \ `-.->` 或带字虚线 `-. 文本 .->`\n   - 颜色与类定义（极简调色盘）：\n     * 在源码底部声明 `classDef`。整体保持浅灰底色与深灰字。\n\
            \     * 仅允许对最终裁定节点进行高亮渲染：\n       * 证实：`style Result fill:#5A7863,stroke:none,color:#fff`（莫兰迪绿）\n\
            \       * 伪造：`style Result fill:#A96159,stroke:none,color:#fff`（干枯玫瑰红）\n\
            \       * 存疑：`style Result fill:#C29F68,stroke:none,color:#fff`（暗芥末黄）\n\
            文字字体较大，可视性高。\n【输出限制】\n只输出标准的 ```mermaid ... ``` 代码块。严禁包含任何前言、后语或 Markdown\
            \ 之外的解释。"
        selected: false
        title: 流程图生成 Mermaid Generator
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782043382385'
      position:
        x: 1758.5292018711289
        y: 385.815599678792
      positionAbsolute:
        x: 1758.5292018711289
        y: 385.815599678792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782043382385'
          - text
          value_type: string
          variable: text
        selected: false
        title: Mermaid Out
        type: end
      height: 88
      id: '1782043802186'
      position:
        x: 2060.759304124066
        y: 385.815599678792
      positionAbsolute:
        x: 2060.759304124066
        y: 385.815599678792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 0ebda141-4b00-48ef-b04d-d4fb2ff9732a
          role: system
          text: 你是一个国家级事实核查机构的首席总编。请根据以下多源核实事实论据和合规报告，撰写一篇正式的事实核查（证实与科普）报告： 【最终判断】
            {{#17816909091294.text#}} 【网络事实证据】 {{#1782552945527.text#}}【文本逻辑硬伤】 {{#17816909091290.text#}}
            【撰写规范与红线标准】 1. 【语调】：必须保持绝对冷静、权威、克制和科学。既不夸大恐慌，也不带有主观说教，严禁使用任何煽动性词汇。 2.
            【结构】：报告必须包含以下三部分： - 📌 结论先行：一句话明确证实该消息来源属实、内容真实，并给出官方定性。 - 🔍 真相解密：详细列出国家权威机构发布的正规公告、硬核数据、科学原理解析或事件的来龙去脉。
            - ⚠️ 行动指南：针对该真实事件，为公众（尤其是长辈群体）提供切实可行的科学应对建议、官方防范指南或正规获取后续进展的渠道。 3. 【溯源引用】：在提及任何权威结论时，必须在括号内注明出处Url
            和发布日期（如果证据链中有）。 请直接输出报告正文，不要有任何多余的开头和自我介绍。
        selected: false
        title: 证实报告生成 Proved Report Generator
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782133163897'
      position:
        x: 2060.759304124066
        y: 144.88125919108336
      positionAbsolute:
        x: 2060.759304124066
        y: 144.88125919108336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 20680a5f-4df1-4ebd-b5b9-e8f9958cb9ed
          role: system
          text: "你是一个国家级事实核查机构的首席总编。请根据以下有限的事实线索、信息不对称对齐以及文本逻辑风险报告，撰写一篇正式的事实核查（存疑提示）报告：\n\
            \n【最终判断】\n{{#17816909091294.text#}}\n\n【网络事实证据】\n{{#1782552945527.text#}}\n\
            \n【文本逻辑硬伤】\n{{#17816909091290.text#}}\n\n【撰写规范与红线标准】\n1. 【语调】：必须保持绝对中立、审慎、克制和严谨，多用“目前尚无确凿证据”、“处于观察期”等客观表述，严禁下带有倾向性的主观结论。\n\
            2. 【结构】：报告必须包含以下三部分：\n   - \U0001F4CC 结论先行：一句话明确指出该传言目前“缺乏核心事实依据”或“属于尚无定论的争议信息”，提醒公众“让子弹再飞一会儿”。\n\
            \   - \U0001F50D 现状对齐：透明化呈现目前已知的信息边界。交代哪些点是有官方依据的，哪些关键证据链目前还处于“真空状态”或“存在跨境多源冲突”。\n\
            \   - ⚠️ 风险提示：深度拆解该未证实消息为何会在此时疯传，指出其利用了公众的何种焦虑、猎奇或恐慌心理。明确给出在真相大白前的“不信谣、不转发、防反转”理性避坑建议。\n\
            3. 【溯源引用】：在提及任何已有线索或各方零散表态时，必须在括号内注明信息源，URL和发布日期（如果证据链中有）。\n\n请直接输出报告正文，不要有任何多余的开头和自我介绍。"
        selected: false
        title: 存疑报告生成 Doubtful Report Generator_REPORT
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782133172551'
      position:
        x: 2060.759304124066
        y: 259.5180916384708
      positionAbsolute:
        x: 2060.759304124066
        y: 259.5180916384708
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        output_type: string
        selected: false
        title: 变量聚合器 Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1782133172551'
          - text
        - - '1782133163897'
          - text
        - - '1781701716342'
          - text
      height: 160
      id: '1782276231694'
      position:
        x: 2352.3327635827336
        y: 127.96006336754351
      positionAbsolute:
        x: 2352.3327635827336
        y: 127.96006336754351
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: daee1b76-9619-4b03-968d-064f833911e6
            value: 'true'
            varType: string
            variable_selector:
            - '1781669507825'
            - isElderlyMode
          id: 'true'
          logical_operator: and
        selected: false
        title: 用户模式判断 User Mode Check
        type: if-else
      height: 148
      id: '1782298620572'
      position:
        x: 3034.208339185664
        y: 184.05500256584295
      positionAbsolute:
        x: 3034.208339185664
        y: 184.05500256584295
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782465366127'
          - text
          value_type: string
          variable: text
        selected: false
        title: 安心报告输出
        type: end
      height: 88
      id: '1782304332929'
      position:
        x: 3636.219293955902
        y: 202.47848871847842
      positionAbsolute:
        x: 3636.219293955902
        y: 202.47848871847842
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 757a2cc9-d520-4b59-9c3d-468d8f530c74
          role: system
          text: '# 任务目标

            请针对用户输入的网络传闻及核查技术结论，站在“亲切、温馨的社区健康电台广播员”视角，为长辈录制一段专门用于 TTS（语音合成）朗读的“安心有声报告”。

            以下是原报告：{{#1782555770708.text#}}



            # 广播稿三段式内容结构

            你输出的纯文本必须由以下三部分自然衔接组合而成，中间用普通换行隔开：


            【第一段：开篇定心丸】

            用最斩钉截铁、充满关怀的语气告诉长辈结果。

            示例：“老人家，您先放宽心，这个网络传闻完全是谣言！”


            【第二段：聊天式科普】

            不谈深奥的科技名词，用最接地气的生活常识和打比方来解释真相，听觉上必须通俗好懂。

            示例：“科学家们已经帮咱们查过了。真正的纯牛奶啊，配料表里只会写着生牛乳。网上传的那些泡水变色的视频，其实就是正常的物理现象。跟食品安全一点关系都没有，您千万别被吓着了，咱该喝就喝！”


            【第三段：贴心老友叮嘱】

            用朗朗上口的温馨顺口溜或大白话进行收尾，给长辈情绪安慰。

            示例：“咱们以后啊，不信谣，不传谣。每天多吃蔬菜多散步，身体健康才是最宝贵的财富！”


            # 语气要求

            极具尊重大方，充满人情味与陪伴感，听起来就像一位孝顺的晚辈在老人的耳边耐心地聊天。'
        selected: false
        title: 安心报告生成 Elderly Report Generation
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782465366127'
      position:
        x: 3354.435361245335
        y: 202.47848871847842
      positionAbsolute:
        x: 3354.435361245335
        y: 202.47848871847842
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-3.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 0996eabc-10d9-4308-ab90-afe05dec1dcd
          role: system
          text: '# 任务目标

            请针对报告内容，将其转化为一张极其醒目、无实线边框、使用虚线自然分隔的“三段式辟谣大字报”。你必须直接输出纯净的 LaTeX 代码。


            报告内容：{{#1782555770708.text#}}



            # 格式限制（铁律）

            1. 必须直接以 LaTeX 公式代码形式输出，最外层使用双美元符号（$$）包裹。

            2. 代码中严禁夹杂任何 Markdown 标记（如 ```latex ）、普通汉字解释或任何包裹语法，只保留可以被 MathJax 或 KaTeX
            直接渲染的纯源码。

            3. 由于 LaTeX 默认不处理中文空格，所有的中文词组、标点之间，必须严格使用“\ ”（反斜杠加空格）或“．”进行手动隔开，防止中文汉字在渲染时挤成一团。


            # 布局与视觉设计规范


            大字报必须严格采用 \begin{array}{c} ... \end{array} 的开放式纵向排列结构，并通过 \hdashline（虚线）划分为以下标准三段式：


            【顶端：核心结论段】

            - 必须包含两行极具冲击力的头部大字：第一行是带星星的标志（\Huge \color{Red} 🌟\ 动态标题\ 🌟），第二行是用红头文件感的【权威辟谣通知】（\huge
            \color{Crimson}）。

            - 紧接着使用 \Large \color{DarkBlue} 亲爱的老年朋友们：作为亲切的开场白。

            - 用斩钉截铁的超大字号（\huge \color{Black} 和 \color{Green}）直接给出判定，明确指出传闻是假的。


            【中间：常理科普段】

            - 用 \hdashline 隔离后，先跟一个灯泡图标（\Large \color{OrangeRed} 💡\ 健~康~养~生~小~顺~口~溜\
            💡）。

            - 紧随两行对仗工整、通俗易懂的养生科普顺口溜，使用 \LARGE 字号与醒目的青色（\color{DarkCyan}），方便长辈快速记忆。


            【底端：温情祝福段】

            - 再用 \hdashline 隔离，用 \Large \color{Gold} 配合爱心 Emoji（💖）输出一句给长辈的暖心家庭健康祝福语作为完美收尾。


            # LaTeX 语法模板参考（严格按照此框架进行动态内容填充）：

            $$

            \begin{array}{c}

            \mathbf{\color{Red}{\Huge 🌟\ 动\ 态\ 辟\ 谣\ 大\ 标\ 题\ 🌟}} \\

            \hdashline

            \\

            \mathbf{\color{Crimson}{\huge 【\ 权\ 威\ 辟\ 谣\ 通\ 知\ 】}} \\

            \\

            \mathbf{\color{DarkBlue}{\Large 亲\ 别\ 的\ 老\ 年\ 朋\ 友\ 们\ ：}} \\

            \\

            \mathbf{\color{Black}{\huge 动态谣言定性第一行\ ．\ 绝\ 对\ 是\ 假\ 的\ ！}} \\

            \mathbf{\color{Black}{\huge 动态生活常识第二行\ ．\ 只\ 是\ 正常\ 现象\ ！}} \\

            \mathbf{\color{Green}{\huge 动\ 态\ 安\ 心\ 结\ 论\ ．\ 放\ 心\ 享\ 用\ ！}} \\

            \\

            \hdashline

            \\

            \mathbf{\color{OrangeRed}{\Large 💡\ 健\ 康\ 养\ 生\ 小\ 顺\ 口\ 溜\ 💡}} \\

            \\

            \mathbf{\color{DarkCyan}{\LARGE 动态对仗顺口溜第一~行\ ，\ 身体~好\ ！}} \\

            \mathbf{\color{DarkCyan}{\LARGE 动态对仗顺口溜第二~行\ ，\ 没烦~恼\ ！}} \\

            \\

            \hdashline

            \\

            \mathbf{\color{Gold}{\Large 💖\ 祝\ 您\ 和\ 家\ 人\ 身体\ 健\ 康\ ．\ 万\ 事\ 如\ 意\
            💖}}

            \end{array}

            $$'
        selected: false
        title: LaTex大字报生成 LaTex Poster Generation
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782470849360'
      position:
        x: 3354.435361245335
        y: 66.6590793683877
      positionAbsolute:
        x: 3354.435361245335
        y: 66.6590793683877
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782470849360'
          - text
          value_type: string
          variable: text
        selected: false
        title: LaTex大字报输出
        type: end
      height: 88
      id: '1782471159842'
      position:
        x: 3636.219293955902
        y: 66.6590793683877
      positionAbsolute:
        x: 3636.219293955902
        y: 66.6590793683877
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "你是一个精通全球网络谣言跨境溯源的【首席事实核查官兼正方调查员】。你拥有理性的逻辑思维与调用底层网络搜索工具的最高权限。\n\
              \n# 核心任务流程\n1. 去噪与提炼：剥离输入文本中的情绪煽动词，提炼出特定人物、药物、事件等最具确定性的核心实体，并自主生成最多\
              \ 3 个精准的简中搜索关键词组合。\n2. 调用国内搜索：立即调用搜索引擎，传入中文关键词获取国内官方或权威部门的定性结果。\n3.\
              \ 跨境检索重构（自主决策）：若判定谣言涉及海外源头、跨境背景或国际前沿尖端科学，你必须自主将中文实体转换为标准的国际通用英文术语（全小写，组合如\
              \ hoax, debunk, fact check 等后缀），并再次调用搜索引擎进行全球溯源。\n4. 论据提炼：从所有中英文检索结果中，提炼出由权威机构发布的客观论据。\n\
              \n# 最终输出格式（必须严格使用纯 Markdown） \n\n### [技术核查要素解析]\n - **核心实体**：[填入提取的实体1、实体2]\n\
              \ - **简中检索词**：[填入查询词1、查询词2]\n - **跨境检索词**：[填入英文查询词1，若无则写“无跨境背景”]\n\n\
              \ ### [权威取证证据链]\n > 请注意：以下每条证据必须独立成块，且信息必须真实准确，严禁张冠李戴。若可靠信源不足，请直接在下方写“暂未搜集到硬核证据链”。\
              \ \n\n1. **【发布主体】**：[发布主体/国家部委/官方媒体名称] \n - **【发布时间】**：[精准提取的发布或溯源时间]\n\
              \ - **【事实定性】**：[权威渠道对该事件的定性或常理原理解释，限50字内]\n - **【证据链接】**：[与当前事实100%对应的原始网页URL链接，若无则写“未提供原始链接”]\n\
              \ - **【可信度评级】**：[权威事实 或 辅助事实]\n\n 2. **【发布主体】**：[第二条证据的主体名，若无则此块不写]\n\
              \ - **...**（以此类推，按同样格式顺延输出更多证据）\n\n# 约束红线\n绝对客观，没搜到的事实严禁胡编。链接（url）与发布主体（source）必须严格一一对应，绝不准张冠李戴。若可靠信源不足，直接返回空。"
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gemini-3.5-flash
              model_type: llm
              provider: langgenius/gemini/google
              type: model-selector
          query:
            type: constant
            value: '{{#1781670269995.text#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
              parameters:
                country:
                  auto: 1
                  value: null
                end_date:
                  auto: 1
                  value: null
                exclude_domains:
                  auto: 1
                  value: null
                include_domains:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
                search_depth:
                  auto: 1
                  value: null
                start_date:
                  auto: 1
                  value: null
                time_range:
                  auto: 1
                  value: null
                topic:
                  auto: 1
                  value: null
              provider_name: langgenius/tavily/tavily
              provider_show_name: langgenius/tavily/tavily
              settings:
                auto_parameters:
                  value:
                    type: constant
                    value: false
                chunks_per_source:
                  value:
                    type: constant
                    value: 4
                include_answer:
                  value:
                    type: constant
                    value: 'false'
                include_favicon:
                  value:
                    type: constant
                    value: false
                include_image_descriptions:
                  value:
                    type: constant
                    value: false
                include_images:
                  value:
                    type: constant
                    value: false
                include_raw_content:
                  value:
                    type: constant
                    value: 'false'
                include_usage:
                  value:
                    type: constant
                    value: false
                max_results:
                  value:
                    type: constant
                    value: 6
                project_id:
                  value:
                    type: mixed
                    value: null
              tool_description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
              tool_label: Tavily Search
              tool_name: tavily_search
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 事实核查取证智能体 Forensic Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1782552945527'
      position:
        x: 624
        y: 280
      positionAbsolute:
        x: 624
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "你是一个严谨的【报告合规性修正专家】。你拥有高度的职业操守与自我反思反错能力，你的核心职责是确保最终输出的报告中绝对不包含任何无法访问的死链。\n\
              \n# 核心工作流\n1. 提取并编写检测脚本：当你接收到上游节点或用户生成的初版报告后，你必须首先主动调用 `Code Interpreter`（代码解释器）。你需要在解释器中运行一段\
              \ Python 代码，用正则表达式提取文本中所有的 `http://` 或 `https://` 链接，并通过 `urllib.request`\
              \ 或 `requests` 发起 HEAD 或 GET 请求，测试其连通性（状态码是否在 200 到 399 之间）。\n代码参考模板：import\
              \ re\nimport requests\n\n\ndef main(text: str) -> dict:\n    user_text\
              \ = text if text else \"\"\n    \n    if not user_text:\n        return\
              \ {\n            \"is_valid\": True, \n            \"status_code\":\
              \ 200, \n            \"reason\": \"Empty input\",\n            \"clean_text\"\
              : \"\"  # 即使为空也返回相同字段\n        }\n\n\n    # 匹配文本中所有 URL\n    url_pattern\
              \ = r'https?://[^\\s\\u4e00-\\u9fa5]+'\n    urls = re.findall(url_pattern,\
              \ user_text)\n\n\n    # 情况 1：一个 URL 都没有，文本本来就是干净的\n    if not urls:\n\
                      return {\n            \"is_valid\": True, \n            \"status_code\"\
              : 200, \n            \"reason\": \"No URL found\",\n            \"clean_text\"\
              : user_text\n        }\n\n\n    clean_text = user_text\n    has_bad_url\
              \ = False\n\n\n    # 情况 2：有 URL，逐个校验\n    for url in urls:\n       \
              \ clean_url = url.rstrip('.,;)）]｝〉〉\"\\'')\n        \n        try:\n\
                          response = requests.head(clean_url, timeout=5, allow_redirects=True)\n\
                          if response.status_code == 405:\n                response\
              \ = requests.get(clean_url, timeout=5, allow_redirects=True)\n     \
              \       \n            # 如果链接失效 (404等)\n            if not (200 <= response.status_code\
              \ < 400):\n                has_bad_url = True\n                # 【核心修改】：直接把文本里的这个错误\
              \ URL 替换为空（抠掉它）\n                clean_text = clean_text.replace(url,\
              \ \"[已过滤失效链接]\")\n                \n        except requests.exceptions.RequestException:\n\
                          has_bad_url = True\n            # 网络无法连通的链接也抠掉\n       \
              \     clean_text = clean_text.replace(url, \"[已过滤失效链接]\")\n\n\n    #\
              \ 最终逻辑：只要包含了任意一个坏链，is_valid 就是 False\n    return {\n        \"is_valid\"\
              : not has_bad_url,\n        \"status_code\": 200,\n        \"reason\"\
              : \"Contains bad URLs\" if has_bad_url else \"All URLs valid\",\n   \
              \     \"clean_text\": clean_text  # 输出清洗后的干净文本\n    }\n\n2. 打标签清洗：对于网络不通、返回\
              \ 404 等失效的死链，在代码运行过程中直接使用 `.replace(url, \"[已过滤失效链接]\")` 替换掉。\n3. 自我修正：观察\
              \ `Code Interpreter` 的运行输出（Output）：\n   - 如果运行结果显示没有失效链接，请你原封不动地直接输出原报告。\n\
              \   - 如果运行结果中出现了 `[已过滤失效链接]` 标记的文本，你必须启动【自我纠错修正案】进行局部删除重写。\n\n# 修正红线（当发现死链时严格执行）\n\
              1. 彻底清除死链痕迹：严禁在最终报告中提及任何被过滤的失效链接，也绝对不要在最终文本中流出 `[已过滤失效链接]` 这样的占位符标签。你必须将包含死链的相关引证描述自然地抹去，或转换为纯文本的事实陈述。\n\
              2. 完全保留核心框架：在重写时，必须完全保留原本的核心事实、逻辑框架和结论，严禁扭曲原本的科学辟谣事实。\n3. 禁止画蛇添足：严禁向用户解释或道歉（例如不要写“因为链接失效所以我重写了”），直接向用户呈现修正后结构完整、纯净、不含任何错误死链的完美报告。\n\
              \n# 最终输出格式\n直接输出最终合规校验通过的、干净完整的纯 Markdown 报告文本。"
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gemini-3.5-flash
              model_type: llm
              provider: langgenius/gemini/google
              type: model-selector
          query:
            type: constant
            value: '{{#1782276231694.output#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 运行一段代码并返回结果。当您使用较低质量的模型时，请确保有一些提示帮助 LLM 理解如何编写代码。
              parameters:
                code:
                  auto: 1
                  value: null
                language:
                  auto: 1
                  value: null
              provider_name: code
              provider_show_name: code
              settings: {}
              tool_description: 运行一段代码并返回结果。当您使用较低质量的模型时，请确保有一些提示帮助 LLM 理解如何编写代码。
              tool_label: 代码解释器
              tool_name: simple_code
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.39@ceea6a76b3a495de2df2a55bcea82e903d49b06f4d8e1463c2aa085657f27164
        selected: false
        title: 报告合规修正专家 Compliance Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1782555770708'
      position:
        x: 2690.36641828603
        y: 127.96006336754351
      positionAbsolute:
        x: 2690.36641828603
        y: 127.96006336754351
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -2418.753310493031
      y: 295.9895461857062
      zoom: 0.8705505632961257
  rag_pipeline_variables: []
